<form [formGroup]="loginForm" style="margin-top: 20px;">
  <div class="form-group">
    <label for="username">Username :</label>
    <input
      type="text"
      class="form-control"
      id="username"
      formControlName="username"
      name="username"
    />
    <div
      *ngIf="
        loginForm.controls.username.errors &&
        loginForm.controls.username.touched
      "
      style="color: red;"
    >
      <div *ngIf="loginForm.hasError('required', 'username')">
        Username is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password :</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      name="password"
    />
    <div
      *ngIf="
        loginForm.controls.password.errors &&
        loginForm.controls.password.touched
      "
      style="color: red;"
    >
      <div *ngIf="loginForm.hasError('required', 'password')">
        Password is required
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    (click)="loginUserForm(loginForm)"
  >
    Log in
  </button>
</form>
<div *ngIf="invalidLogin" style="color: red;">
  Wrong Username or password
</div>
